* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; 
}

/* -- Cover Page -- */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(233, 94, 94, 0), rgba(212, 65, 65, 0.25)),
    url(Untitled\ design\ \(2\).png);
  background-size: cover;
  background-position: center;
}

header {
  background-color: #b92f2f;
  min-height: 5vh; /* Adjust to match your banner height */
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 3px #000;
}


.navbar {
  width: 90%;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.navbar ul li a::after {
  content: '';
  height: 3px;
  width: 0;
  background: #b92f2f;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: width 0.3s ease;
}

.navbar ul li:hover a::after {
  width: 100%;
}

/* dropdown */

.navbar ul li.dropdown {
  position: relative;
}

.navbar ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar ul li.dropdown:hover .dropdown-content {
  display: block;
}

.navbar ul li.dropdown .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar ul li.dropdown .dropdown-content a:hover {
  background-color: #b92f2f;
  color: #fff;
}


/* Content with the Donate Now button */
.content {
  width: calc(90% - 250px); /* Adjust */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 40vh;
  color: #b92f2f;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #f83b3b;
  margin: 20px 50px;
  border: 1px solid #b92f2f;
  padding: 12px 34px;
  font-size: 13px;
  font-weight: 600;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f83b3b;
  background: #b92f2f;
  transition: 0.7s;
}

/* Why Donate content */
.blood {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  color: #b92f2f;
}

.blood h1 {
  font-size: 36px;
  font-weight: 600;
}

.blood p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.blood-col {
  flex-basis: calc(31% - 1%); /* Adjust */
  background: #fce3e3;
  border-radius: 23px;
  margin-bottom: 5%;
  margin-right: 1%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5;
}

.blood-col .icon {
  display: block;
  width: 16%;
  height: auto;
  margin: 0 auto 10px;
}

.blood-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.blood-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Mission & Vision */
.mv {
  width: 100%;
  height: 48vh;
  margin: auto;
  text-align: center;
  background-image: url(mv.png);
  background-size: cover;
  background-position: center;
}

.mv h2 {
  padding: 2%;
  font-size: 60px;
}

.mv h1 {
  color: #b92f2f;
  font-size: 40px;
  font-weight: 600;
}

.m p {
  font-size: 40px;
}

/* Footer */
.footerto {
  width: 100%;
  padding: 70px 30px 20px;
}
.footerto p{
  text-align: center;
  font-weight: 700;
}
footer {
  background-color: #b92f2f;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #f44336;
  margin: 10px;
  border-radius: 50%;
}

.footer-icons a i {
  font-size: 2em;
  color: #b92f2f;
  opacity: 0.9;
}

.footer-icons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.footerbot {
  background-color: #f83b3b;
  padding: 15px;
  text-align: center;
  color: #fff;

}

.footerbot p {
  margin: 0;
  font-family: Helvetica;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0px 5px;
}
/*! ABOUT US*/
.aboutus{
  font-size: 50px;
}