nav ul li a:active{
    color:black;
}

.green-title {
    color: rgba(6, 198, 45, 0.878);
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}